* {
  box-sizing: border-box;
}
header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background-color: gray;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header.sticky .logo {
  color: #111;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

header.sticky ul li a {
  color: #111;
}
header.sticky ul li a:hover {
  border-bottom: 1px solid black;
}
header ul li a:hover {
  border-bottom: 1px solid #fff;
}

header ul li a,
header .logo {
  color: #111;
  font-size: 24px;
}

#single- {
  display: flex;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.triangle {
  fill: #695559;
}

#scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 2px;
  border-radius: 10px;
  font-size: 18px;
}

.triangle:hover {
  transition: 0.2s ease-in;
  fill: #acb8c1a6;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.work .content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.work .content .workBox {
  max-width: 50%;
  padding: 10px;
  position: relative;

  transform: translate(0%, 0%);
}
.work .content .workBox img {
  width: 100%;
}

footer {
  text-align: center;
}
.heading p {
  left: 50%;
  width: 50%;
  transform: translate(50%, 0%);
}
.intro-image {
  margin-bottom: 1rem;
}

/* Responsiveness */

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 20px;
    z-index: 1000;
  }

  header ul li a,
  header .logo {
    color: #111;
    font-size: 20px;
    margin: 10px;
  }
}

@media (max-width: 600px) {
  header,
  header.sticky {
    padding: 20px 20px;
  }
}
